<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
      <div class="list-group">
        <a href="#" class="list-group-item text-center active">
          <i class="fa fa-paypal"></i><br/>PayPal
        </a>
        <a href="#" class="list-group-item text-center">
          <i class="fa fa-credit-card"></i><br/>Credit Card
        </a>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
      <div class="bhoechie-tab-content active">
        <center>
          <h2 style="margin-top: 0;color:#55518a">
            <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_orders_url(:link_request_offer_id => @link_request_offer.id) %>
          </h2>
        </center>
      </div>
      <div class="bhoechie-tab-content">
        <center>
          <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
          <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
        </center>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
    <div class="panel panel-default" style="margin-top: 0;color:#55518a">
      <!-- Default panel contents -->
      <div class="panel-heading" style="margin-top: 0;color:#55518a"><h4>Request</h4></div>
      <div class="panel-body">
        <p><%= @link_request_offer.link_request.description %></p>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th>Offer</th>
          <th><p class="pull-right">Total</p></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <h3>Publisher: <%= @link_request_offer.user.name %></h3>
            <p><%= @link_request_offer.description %></p>
          </td>
          <td style="vertical-align: bottom;"><p class="pull-right">$<%= @link_request_offer.price %></p></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>