<% if user_signed_in? %>
  <% if current_user.publisher? %>
        <li><%= link_to 'Payments', orders_url %></li>
        <li><%= link_to 'Open Requets', link_requests_path %></li>
        <li><%= link_to 'Your Requets', link_requests_path(:filter => 'me') %></li>
  <% elsif current_user.client? %>
        <li><%= link_to 'Payments', orders_url %></li>
        <li><%= link_to 'Your Requets', link_requests_path(:filter => 'me') %></li>
        <li><%= link_to 'Post a Request', new_link_request_path %></li>
  <% end %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><a rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-sign-out"></i> <%= current_user.role.capitalize %> Sign out</a></li>
<% else %>
  <li>
    <a href="/users/sign_in"><i class="fa fa-sign-in"></i> Sign in</a>
  </li>
  <li>
    <a href="/sign_up/user"><i class="fa fa-pencil"></i> Sign up</a>
  </li>
  <li><a href="/users/sign_up?role=publisher" class="btn btn-default" role="button">Become a Publisher</a></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Admin', '/admin' %></li>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
